<main id="app">
  <!-- 録音の開始/録音中/結果を見るボタンを設置する部分 -->
  <div class="container-fluid" v-if="screen=='recordingScreen'" key="recordingScreen">
    <p class="logo_2">声の成分分析ツール</p>
    <p class="logo_1">Voice&thinsp;<br class="br-sp">component</p>

    <div class="main">
      <%= image_tag 'face.png', class: 'background-image' %>

      <button class="record-btn" type="button" v-if="status=='ready'" @click="startRecording">
        さっそく声の成分をチェック!!&nbsp;<i class="fas fa-microphone fa-lg"></i><br>
        (５秒間のマイク録音が開始されます)<br>
        <div class="message">
          ※何を話すかお悩みの方へのアドバイス<br>
          <%= @message %>
        </div>
      </button>

      <button class="recording-btn" type="button" v-show="status=='recording'">
        <span id="sec"></span>&nbsp;<i class="fas fa-microphone fa-lg"></i>
      </button>

      <form id="btn">
        <button class="result-btn" type="button" v-show="status=='finishRecording'" @click="changeScreen">
          分析結果を確認する!!&nbsp;<i class="fas fa-search fa-lg" aria-hidden="true"></i>
        </button>
      </form>

      <button class="reRecording-btn" type="button" v-show="status=='finishRecording'" @click="startRecording">
        もう一度声を録音する&nbsp;<i class="fas fa-microphone fa-lg"></i>
      </button>
    </div>

    <div class="top_note">※マイクアクセスを許可にしてからご利用下さい。<br>※1ヶ月の利用回数上限を設けており、上限に達し<br>た場合は次月以降にご利用お願い致します。<br>※Internet Explorerではご利用出来ませんのでご了承下さい。</div>
    <div class="link">
      <%= link_to "Voice componentとは？", help_path %><br>
      <%= link_to "利用規約", terms_path %><br>
      <%= link_to "プライバシーポリシー", privacy_path %><br>
      <%= link_to "お問い合わせ先", inquiry_path %>
    </div>

    <p>©2021 Voice component</p>
  </div>

  <!--結果を見るボタンを押した後の結果画面部分 -->
  <div v-if="screen=='resultScreen'" key="resultScreen">
    <div class="resultTitle"><i class="fas fa-search fa-lg" aria-hidden="true"></i>&nbsp;分析結果</div>
    <div class="pie" id="pie"></div>
    <br>
    <br>
    <br>
    <div class="button-container">
      <div class="button-wrapper">

        <button class="button button-top button-lg" type="button" onclick="window.location.reload();">
          <i class="fas fa-home"></i>&nbsp;トップページへ
       </button>

        <a href="" id="twitter" class="button button-tw button-lg" rel="nofollow" target="_blank">
          分析結果をツイート</i>
        </a>
      </div>
    </div>
  </div>
</main>

<%= javascript_pack_tag 'app' %>
