<!DOCTYPE html>
<html>
  <head>
    <title>VoiceComponent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@yama2_0506" />
    <meta property="og:url" content="https://voice-component.com"/>
    <meta property="og:title" content="声の成分分析ツール『 Voice component 』"/>
    <meta property="og:description" content="簡単５秒！あなたの声成分にどの有名人の声が含まれているかを診断してくれるアプリです！"/>
    <meta property="og:image" content="<%= asset_url('twitter-card.png') %>"/>
    <script src=”css_browser_selector.js” type=”text/javascript”></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0Y1X8S6QNT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0Y1X8S6QNT');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
